@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);
.container-fluid{
padding:0px;
}

#profile {
  transition: all ease-in-out 0.5s;
  transition: all 0.5s;
  padding: 0;
  background: #040b14;
  border-top: 1px solid #ff5821;
  border-bottom:1px solid #ff5821;
}

#profile .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}

#profile .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

#profile .profile h1 a, #header .profile h1 a:hover {
  color: #ff5821;
  font-size:30px;
  text-decoration: none;
}


.nav-menu {
  padding: 30px 0 0 0;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #ff5821;
  font-size: 16px;
  font-family: 'Anton', sans-serif;
  letter-spacing: 1.5px;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}




.row-class {
padding-top:10%;
}
.row .info ul li {
padding-bottom:30px;
}
.section-title {
padding-top: 50px;
}
.section-title h2 {
font-family: 'Anton', sans-serif;
}
.text-light {
height:30px;
}
.row .info {
    padding-bottom: 3%;
}
.add-post {
    padding-top: 2%;
    border-top: 1.5px solid #ff5821;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom:10%;
}
.menu-bar a {
    color: #ff5821;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    position: relative;
   margin-left:10px;
       text-decoration: none;

}


.menu-bar .nav-item a::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);

}
.menu {
height:100%;
}

@media (hover: hover) and (pointer: fine) {
.menu-bar .nav-item a:hover::before{
    left: 0;
    right: auto;
    width: 100%;
    color:white;
  }
}

.navbar-dark .navbar-nav .nav-link {
color:#ff5821;
}




#hero {
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  padding-top: 80px;
}

#hero h1 {
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 72px;
  color: #124265;
  font-family: "Poppins", sans-serif;
}

#hero h2 {
  color: #5e5e5e;
  margin: 10px 0 0 0;
  font-size: 22px;
}

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 50px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #2487ce;
}

#hero .btn-get-started:hover {
  background: #3194db;
}



#hero .icon-box {
  padding: 50px 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
   background-color: whitesmoke;


}


#hero .icon-box:hover {
  transform: scale(1.08);
}

#hero .icon-box:hover .title a {
  color: #2487ce;
}


.title {
padding-top:2%;
padding-bottom:2%;
font-family: 'Anton', sans-serif;
letter-spacing: 1.5px;
color: #ff5821;
}

.table tr th {
font-family: 'Anton', sans-serif;
letter-spacing: 1.5px;
color: #ff5821;
}
.but-back {
margin-bottom:2%;
}

.img-fluid {
    border: 2px solid #ff5821;
    border-radius: 50%;
    margin-bottom:10px;
}