{% extends "nav_footer.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'post_user/edit_post.css' %}">

{% if user.is_authenticated %}
{% if user.id == post.postUser.id %}
<div class="container-fluid">
   <div class="row ">
<div class="col-2" id="profile">
            <div class="d-flex flex-column">
                <div class="profile">
                    <img alt="example image" src="{{ user.profile_image.url }}" class="img-fluid rounded-circle">
                    <h1 class="text-light"><a href="">{{ user.username }}</a></h1>
                </div>
    <!--<svg>-->
    <!--        <rect x="0" y="0" fill="none" width="100%" height="100%"/>-->
    <!--      </svg>-->
                <nav id="navbar" class="nav-menu navbar">
                    <ul class="menu-bar">
                        <li class="nav-item"><a href="/" ><span>Moj profil</span></a></li>
                        <li class="nav-item"><a href="/AddPost/0/" ><span>Dodaj post</span></a></li>
                        <li class="nav-item"><a href="/Majstori/"> <span>Pogledaj sve majstore</span></a></li>
                        <li class="nav-item"><a href="/MyPosts/" > <span>Moji postovi</span></a></li>
                        <li class="nav-item"><a href="https://majstor.cloud-petkovic.com/messages/inbox/" > <span>Poruke </span></a></li>
                        <li class="nav-item"><a href="/members/edit_profile/" > <span>Izmeni profil </span></a></li>

                    </ul>
                </nav><!-- .nav-menu -->
            </div>
        </div><!-- End Header -->

      <div class="col-md-4">
         <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_177ce6db241%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_177ce6db241%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.71875%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
            <div class="card-body">
               <h1 class="text-center">Are you sure you want to update post?</h1>
               <p class="card-text text-center"><strong>Job title: </strong>{{ post.task_title }}</p>
               <p class="card-text text-center"><strong>Category:</strong>  {{ post.task_category }}</p>
               <p class="card-text text-center"><strong>Author:</strong>  {{ post.postUser.username }} </p>
               <div class="d-flex justify-content-between align-items-center text-center">
                  <div class="btn-group text-center">
                     <form method="post">
                        {% csrf_token %}
                        {{ form.media }}
                        {{ form.as_p }}
                        <button class="btn btn-secondary save_btn">Sacuvaj</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"  onclick="goBack()">Nazad</button>
                        <script>
                           function goBack() {
                             window.history.back();
                           }
                        </script>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endif %}

{% endif %}
{% endblock %}